files
libchemistry-openbabel-perl.debhelper.log
libchemistry-openbabel-perl.substvars
libchemistry-openbabel-perl/
libopenbabel-dev.debhelper.log
libopenbabel-dev.substvars
libopenbabel-dev/
libopenbabel-doc.debhelper.log
libopenbabel-doc.substvars
libopenbabel-doc/
libopenbabel4.debhelper.log
libopenbabel4.postinst.debhelper
libopenbabel4.postrm.debhelper
libopenbabel4.substvars
libopenbabel4/
openbabel-gui.debhelper.log
openbabel-gui.substvars
openbabel-gui/
openbabel.debhelper.log
openbabel.substvars
openbabel/
python-openbabel.debhelper.log
python-openbabel.postinst.debhelper
python-openbabel.prerm.debhelper
python-openbabel.substvars
python-openbabel/
tmp
