files
*.debhelper.log
*.substvars
libchemistry-openbabel-perl/
libopenbabel-dev/
libopenbabel-doc/
libopenbabel4/
openbabel-gui/
openbabel/
python-openbabel/
tmp
.debhelper/
debhelper-build-stamp
libopenbabel4v5/
openbabel-dbg/
python-openbabel.postinst.debhelper
python-openbabel.prerm.debhelper
